<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <title>Introduction to Computer Graphics</title>
    <link rel="icon" type="image/x-icon" href="/CGNotes/assets/notebook.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="sheet">
    <div class="left-menu">
        <div class="card">
            <h1>Introduction to Computer Graphics</h1>
            <img src="https://www.cameronsworld.net/img/ui/catscape-loader.gif">
            <p>Notes by <a class="secret_link" href="https://pokeizel.itch.io/" target="_blank">Aradia Aguilar-Vargas</a></p>
            <div class="subcard">
                {% for lecture_date, posts in collections.post | groupby("data.lecture_date") %}
                <details open>
                    <summary>{{ lecture_date }}</summary>
                    {% for post in posts | sort(false, false, "data.index") %}
                    <ul> <li><a href="{{ post.url }}">{{ post.data.title }}</a></li> </ul> 
                    {% endfor %}
                </details>
                {% else %}
                    No dates found!
                {% endfor %}
            </div>
            <img width=100% src="https://web.archive.org/web/20090903064746im_/http://geocities.com/x3cats/Images/tabchase.gif">
        </div>
    </div>

    <div class="right-menu">
        <div class="card">
            {{ content | safe }}
        </div>
        <img width=100% src="https://blob.gifcities.org/gifcities/6VTIUCGN5JMVIHJCGXKEJYPAUL5BUFEJ.gif">
    </div>
</div>
</body>
</html>

